<!--<header></header>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->
<header></header>
<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class='row'>

             <div class='col-sm-1'>
    <!--<nav-menu></nav-menu>-->
     </div>
            <!--<div class="sidebar sidebar-main">
        <sidemenu></sidemenu>
    </div>-->


            <div class='col-sm-10 body-content'>
                <!--<div class="row notification-alert">
            <div class="col-sm-11 alert alert-danger alert-dismissable" >
                <a href="#" class="close notification-alert-close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Danger!</strong> Indicates a successful or positive action.
            </div>
        </div>-->


                <notification></notification>
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
    </div>
        <!-- /page content -->
        <!-- /page container -->
